.cursor-pointer{
    cursor: pointer;
}
ul{
    li{
        a{
            color: #4e73df;
            text-decoration: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
}