<div id="wrapper">
    <div class="modal fade" id="applyNowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
          <div class="modal-content">
            <form [formGroup]="registerForm" (ngSubmit)="applyNow()">

                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Apply Now</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p>Please enter your personal information</p>
                    <div *ngIf="submitted && registerForm.invalid" class="alert alert-danger">
                        An Error Occured, please check form
                    </div>
                      <div *ngFor="let field of fields"  class="input-group mb-3  px-5">
                          <div class="input-group-prepend">
                              <span class="input-group-text">{{field.text}} <span *ngIf="field.isRequired" class="text-danger">*</span></span>
                            </div>
                            <div *ngIf="field.type == 'file'" class="custom-file">
                              <input [formControlName]="removeSpaces(field.text)" [(ngModel)]="field.value" type="file" class="custom-file-input {{ submitted && f[removeSpaces(field.text)].errors ? 'is-invalid' : ''}}" [id]="removeSpaces(field.text)">
                              <label class="custom-file-label" [for]="removeSpaces(field.text)">{{field.value.length > 0 ? fixName(field.value) : 'Choose a file'}}</label>
                            </div>
                            <input  [formControlName]="removeSpaces(field.text)" [(ngModel)]="field.value" class="form-control {{ submitted && f[removeSpaces(field.text)].errors ? 'is-invalid' : ''}}" *ngIf="field.type == 'text'" type="text">
                            <textarea [formControlName]="removeSpaces(field.text)" [(ngModel)]="field.value" *ngIf="field.type == 'textArea'" class="form-control {{ submitted && f[removeSpaces(field.text)].errors ? 'is-invalid' : ''}}" aria-label="With textarea"></textarea>
                      </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button  type="submit" class="btn btn-primary" >Apply Now</button>
                </div>

            </form>
          </div>
        </div>
      </div>
  
    <app-client-sidebar></app-client-sidebar>
  
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
  
        <!-- Main Content -->
        <div id="content">
            <app-client-navbar (onSearch)="onSearch($event)"></app-client-navbar>
                <!-- Begin Page Content -->
          <div class="container-fluid">
  
              <!-- Page Heading -->
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Job List</h1>
                <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
              </div>
    
              <!-- Content Row -->
              <div class="row">
                <div class="col-lg-8">
                  <div *ngFor="let jobOpening of jobOpenings" class="row">
                    <div class="col">
                     <div data-toggle="collapse" [attr.data-target]="'#job-id-' + jobOpening.id" aria-expanded="false" aria-controls="job-details" class="card shadow mb-4">
                       <div class="title">
                          <button (click)="doApplyNow(jobOpening)" data-toggle="modal" data-target="#applyNowModal" class="btn btn-primary float-right">Apply Now</button>
                         <h5 class="text-primary">{{parseJson(jobOpening.job_description).position_title}}</h5>
                         <h6>{{parseJson(jobOpening.job_information).department}}</h6>
                         <p  class="m-0">{{fromNow(jobOpening.created_on)}}</p>
                       </div>
                       <div class="card-body">
                            <p class="m-0"> <span class="text-primary">Experience: </span> <span class="ml-2">{{parseJson(jobOpening.job_information).minimum_experience}}</span></p>
                            <p  class="m-0"><span class="text-primary">Job Type:</span> <span class="ml-2">{{parseJson(jobOpening.job_information).employment_type}}</span></p>
                            <p><span class="text-primary">Submission Deadline: </span><span class="ml-2">{{parseJson(jobOpening.job_information).submission_deadline}}</span></p>
                            <div class="collapse"  id="job-id-{{jobOpening.id}}">
                           <!-- <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p> -->
                              <div  [innerHTML]="jobOpening.opening_description" class="mb-0">
                              </div>
                            </div>
                          </div>
                       </div>
                    </div>
                 </div>
                </div>

                <div class="col-lg-4">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">Location</h6>
                      <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <p>Angeles City(5)</p>
                    </div>
                  </div>
                 </div>
              </div>

            
              
            </div>
            <!-- /.container-fluid -->
        </div>
        <app-footer></app-footer>
  
      </div>
  
  
  </div>