<div id="wrapper">
    <div class="modal fade" id="modalAddEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <div class="row mb-4">
              <div class="col-md-6 mb-3">
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="">Full Name</span>
                      </div>
                      <input [(ngModel)]="employee.name" type="text" class="form-control">
                    </div>
              </div>
              <!-- <div class="col-md-6 mb-3">
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="">Middle Name</span>
                      </div>
                      <input [(ngModel)]="employee.middleName" type="text" class="form-control">
                    </div>
              </div> 
              <div class="col-md-6 mb-3">
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="">Last Name</span>
                      </div>
                      <input [(ngModel)]="employee.lastName" type="text" class="form-control">
                    </div>
              </div> -->
              <!-- <div class="col-md-6 mb-3">
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="">Employee ID</span>
                      </div>
                      <input [(ngModel)]="employee.employeeId" type="text" class="form-control">
                    </div>
              </div> -->
              <div class="col-md-6 mb-3">
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="">Email</span>
                      </div>
                      <input [(ngModel)]="employee.email" type="email" class="form-control">
                    </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Password</span>
                    </div>
                    <input [(ngModel)]="employee.password" type="email" class="form-control">
                  </div>
            </div>
              <div class="col-md-6 mb-3">
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Department</label>
                      </div>
                      <select [(ngModel)]="employee.department" class="custom-select" id="inputGroupSelect01">
                        <option value="">Choose...</option>
                        <option *ngFor="let department of departments" [value]="department.title">{{department.title}}</option>
                      </select>
                    </div>
              </div>
              <div class="col-md-6 mb-3">
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="">Job Title</span>
                      </div>
                      <input [(ngModel)]="employee.designation" type="text" class="form-control">
                    </div>
              </div>
              <div class="col-md-6 mb-3">
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Employee Type</label>
                      </div>
                      <select [(ngModel)]="employee.employeeType" class="custom-select" id="inputGroupSelect01">
                        <option value="">Choose...</option>
                        <option value="Full Time">Full Time</option>
                        <option value="Part Time">Part Time</option>
                        <option value="On Contract">On Contract</option>
                        <option value="Temporary">Temporary</option>
                        <option value="Trainee">Trainee</option>
                      </select>
                    </div>
              </div>
              <div class="col-md-6 mb-3">
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Employee Status</label>
                      </div>
                      <select [(ngModel)]="employee.status" class="custom-select" id="inputGroupSelect01">
                        <option value="">Choose...</option>
                        <option value="Active">Active</option>
                        <option value="Terminated">Terminated</option>
                        <option value="Deceased">Deceased</option>
                        <option value="Resigned">Resigned</option>
                      </select>
                    </div>
              </div>
              <div *ngIf="action == 'addEmployee'" class="col-md-6 mb-3">
                  <input [(ngModel)]="employee.dateOfHire" type="text" id="datepicker" class="" placeholder="Date of Hire">
              </div>
             </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <ng-container *ngIf="action == 'addEmployee'; else editEmployee">
                  <button (click)="addEmployee()" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
              </ng-container>
              <ng-template #editEmployee>
                <button (click)="updateEmployee()" type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
              </ng-template>
              
            </div>
          </div>
        </div>
      </div>
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">
    <app-nav-bar></app-nav-bar>
    <div class="container-fluid">

      <h1 class="h3 mb-2 text-gray-800">Employee</h1>
      <!-- DataTales Example -->
      <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
        information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
          DataTables documentation</a>.</p>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary d-inline">Entries</h6>
          <button data-toggle="modal" data-target="#modalAddEmployee" (click)="doAddEmployee()" class="btn btn-primary float-right">Add Employee</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <ul class="nav nav-tabs mb-4">
                    <li (click)="filter('All')" class="nav-item">
                      <a class="nav-link {{currentFilter == 'All' ? 'active' : ''}}" >All</a>
                    </li>
                    <li (click)="filter('Active')" class="nav-item">
                      <a class="nav-link {{currentFilter == 'Active' ? 'active' : ''}}" >Active</a>
                    </li>
                    <li (click)="filter('Terminated')" class="nav-item">
                      <a class="nav-link {{currentFilter == 'Terminated' ? 'active' : ''}}" >Terminated</a>
                    </li>
                    <li  (click)="filter('Deceased')" class="nav-item">
                      <a class="nav-link {{currentFilter == 'Deceased' ? 'active' : ''}}"  >Deceased</a>
                    </li>
                    <li (click)="filter('Resigned')" class="nav-item">
                        <a class="nav-link {{currentFilter == 'Resigned' ? 'active' : ''}}" >Resigned</a>
                    </li>
                  </ul>
                  <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                  aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label="Name: activate to sort column descending"
                        style="width: 157px;">Employee Name</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        aria-label="Position: activate to sort column ascending" style="width: 50px;">Designation</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        aria-label="Office: activate to sort column ascending" style="width: 113px;">Department</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        aria-label="Age: activate to sort column ascending" style="width: 101px;">Employment Type</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        aria-label="Start date: activate to sort column ascending" style="width: 105px;">Status
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                      aria-label="Start date: activate to sort column ascending" style="width: 105px;">Action
                    </th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th rowspan="1" colspan="1">Employee Name</th>
                      <th rowspan="1" colspan="1">Designation</th>
                      <th rowspan="1" colspan="1">Department</th>
                      <th rowspan="1" colspan="1">Employment Type</th>
                      <th rowspan="1" colspan="1">Status</th>
                      <th rowspan="1" colspan="1">Action</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let employee of employees; let i = index" role="row" class="odd">
                      <td class="sorting_1 cursor-pointer"><span (click)="viewCandidate(candidate)" class="text-primary">{{employee.name}}</span></td>
                      <td>{{employee.designation}}</td>
                      <td> {{employee.department}}</td>
                      <td>{{employee.employment_type}}</td>
                      <td>
                        {{employee.status}}
                      </td>
                      <td class="text-center">
                        <button data-toggle="modal" data-target="#modalAddEmployee" (click)="doUpdateEmployee(employee,i)" class="btn btn-success">Edit</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
          
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>