:host ::ng-deep ul.checked-list-box {
    .sortable-container{
        border: none;
        li{
            background-color: #ffffff;
            color: #858796;
        }
  
    }
}

:host ::ng-deep ngx-spinner {
    .overlay {
        position: fixed !important;
    }
}

:host ::ng-deep {
    .btn-transparent {
        background-color: transparent;
    }
}