
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion {{isToggled ? 'toggled' : ''}}" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/home">
        <div class="sidebar-brand-icon">
          <i class="fas fa-user"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
          Recruitment
            <!-- <sup>2</sup> -->

        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="/admin" >
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

    

      <li *ngIf="databaseService?.user?.level == 0" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/job-openings">
          <i class="fas fa-fw fa-user-md"></i>
          <span>Job Opening</span></a>
      </li>

      <li *ngIf="databaseService?.user?.level == 0" class="nav-item"   routerLinkActive="active">
            <a class="nav-link" routerLink="/add-job-opening">
              <i class="fas fa-fw fa-plus"></i>
              <span>Add Job Opening</span></a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/question-sets">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Question Sets</span></a>
      </li> -->
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"routerLink="/candidates" >
            <i class="fas fa-fw fa-users"></i>
            <span>Candidates</span></a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-table"></i>
            <span>Reports </span></a>
      </li> -->
      <li  *ngIf="databaseService?.user?.level == 0" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/employees">
          <i class="fas fa-fw fa-users  "></i>
          <span>Employee </span></a>
      </li>
      <li  *ngIf="databaseService?.user?.level == 0" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/departments">
            <i class="fas fa-fw fa-archway  "></i>
            <span>Departments</span></a>
        </li>
  


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button (click)="toggleSidebar()" class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->